<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <div class="container" >
         <form #loginForm="ngForm" (ngSubmit)="login()">
            <img  style="width:30%" class="center">
           <mat-form-field>
             <input required name="userName"  [(ngModel)]="model._id"  matInput placeholder="UserName">
            </mat-form-field>
        
           <mat-form-field>
             <input required  name="password" [(ngModel)]="model.Password" type="password" matInput placeholder="Password">
           </mat-form-field>
           <p *ngIf="errors"  class="error">Invalid username or password</p>
           <div class="button">
             <button  type="submit" class="btn btn-primary">Login</button>
            </div> 
         </form>
      </div>
    </mat-card-content>
  </mat-card>
